@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensanslight.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensansbold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../fonts/opslightitalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/opditalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/opsbolditalic.woff) format('woff');
}


/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }
  p aside {
    font-size: 0.875rem;
    line-height: 1.35;
    font-style: italic; }

/* Default header styles */
h1, h2, h3, h4, h5, h6, li {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0; }
li{
  line-height: 1;
}
h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.6875rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0; }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

  .icons a{
    color: white;
  }
 
.progress {
  background-color: #f6f6f6;
  height: 1.5625rem;
  border: 1px solid #cccccc;
  padding: 0.125rem;
  margin-bottom: 0.625rem; 
  }
  .progress .meter {
    background: #2ba6cb;
    height: 100%;
    display: block; 
  }

body{
  font-size: 20px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
li{
  margin-top:6px;
}
ul{
  list-style: none;
}
#infoModal{
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  padding: 10px;
  height: 150%;
  overflow: auto;
  background-color: #fff;
  z-index: 2;
}
.infoList{
  background-color: #fff;
  padding: 5px;
  line-height: 4;
  float: right;
  clear: right;
  width: 55%;
}
.infoList li{
  line-height: 1.2;
}
.stickyLeft{
  position: fixed;
  width: 25%;
  height: 80%;
  overflow: auto;
}
.infoHeader{
  text-align: center;
  z-index: 3;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; 
}
.largePreview {
  width: 100%;
  height: auto;
  left: 50%;
}
#aboutFrame{
  width: 100%;
  height: 100%;
}
.iframeCont{
  width: 100%;
  height: 100%;
  z-index: 10;
  float: right;
  background-color: white;
}
#close{
  color: red;
}
.aboutLinks{
  bottom: 0;
  text-align: right;
  right: 0;
}
.aboutLinks li a{
  font-size: 1.2em;
  color: black;
}
.overlay{
  position: fixed;
  width: 111%;
  height:100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}
.book{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(83%,rgba(125,185,232,0.13)), color-stop(95%,rgba(58,116,176,0)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(125,185,232,1) 0%,rgba(125,185,232,0.13) 83%,rgba(58,116,176,0) 95%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
  position: relative;
  width: 100%;
  padding: 5px;
  color: #fff;
  background-color: #4399CD;
  font-size: 80%; 
  border-radius: 5px;
  box-shadow:  2px 1px 5px 1px rgba(0,0,0,0.2);
  height: 150px;
  overflow: hidden;
}
.book h3{
  margin: 0;
  padding-top: 2px;
  margin-bottom: 0;
}
.bookInfo{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30%;
}
.bookInfo li{
  text-shadow: rgba(0,0,0,0.2) -1px 1px, rgba(0,0,0,0.2) -2px 2px;
}
.bookThumb{
  margin: 0;
  width: 25%;
  height: auto;
  padding-top: 1px;
  box-shadow:  2px 1px 5px 1px rgba(0,0,0,0.2);
}
.icons{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}
.icons li{
  display: inline;
}